.dropdown-hover:hover>.dropdown-menu {
    display: inline-block !important;
  }

.dropdown-hover>.dropdown-toggle:active {
    pointer-events: none;
  }

.submenu{
    border: 0px solid white !important;
  }

.bgmenu{
    background-color: lightslategrey !important;
  }

.menufloat{
    float: right;
}

.menubar{
  top: 43px;
  left: 3px;
  width: 50rem !important;
  background-color: #fff !important;
}
